<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>海报画廊</title>
    <link rel="stylesheet" type="text/css" href="/static/photo_wall/gallery.css">
</head>

<body onselectstart="return false">
    <div class="wrap" id="wrap">
        <div class="photo photo_front" onclick="turn(this)" id="photo_##index##">
            <div class="photo-wrap">
                <div class="side side-front ">
                    <p class="image"><img src="/static/photo_wall/img/##img##"></p>
                    <p class="caption">##caption##</p>
                    <button class="view-fullscreen" onclick="viewFullScreen('/static/photo_wall/img/##img##')">❤</button>
                </div>
                <div class="side side-back">
                    <p class="desc">##desc##</p>
                </div>
            </div>
        </div>
    </div>
    <!-- 用于显示大图的容器 -->
    <div id="fullscreen-overlay" class="fullscreen-overlay" onclick="closeFullScreen()">
        <img id="fullscreen-img" src="" alt="Full Screen Image">
    </div>
    <p style="color:white">致亲爱的波。 <br>现在是10月22日的凌晨，我真的睡不着，看到这个相册又哭了，实在没有办法，到这里倾诉一下，我想波应该不会看到这个了，虽然我真的好希望你能心有灵犀地看到，我多希望能坦率地，抛弃一切套路，一切猜忌，和波分享我的内心，我也能有机会走进波的灵魂深处。波，你一定也睡不着吧，一定也在难过，没有地方倾诉吧，能有奇迹般的心灵感应吗。<br>我们第一次见时我就感觉波你好出众，好漂亮，走在路上我都没见到几个能比波漂亮的女孩子，每次生气也好，无奈也好，一看到波的漂亮小脸也就没什么气了，我在这方面确实比较肤浅，不过我也坦率，我就是喜欢漂亮的波，这就是我的真实想法，所以无论如何我感谢波让我拥有这段美好的岁月。<br>总想着，计算着，算着波对我的好，波为了我的身体着急，为了我义愤填膺，也算着和波发生的争执，但感情哪是算得出来的，只是越算越乱。<br>我总是这么感性，像个女人，这一点上似乎波反而要理性得多，有时都觉得波是不是浪漫过敏，当然我知道波也很脆弱，这是一种自保机制，毕竟这个世界上感性的女人更容易被伤到，哎，哪怕是情侣间，可能也难以做到完全信任，因为信任滋生轻视，轻视引起不满和猜忌，没有一劳永逸的关系，只有永远动态地平衡着，不然怎么说是感情是经营呢。<br>话说回来，感性这一点，我已经认同这种个性了，感性地性格虽然让我比较敏感，但是我能安静地感受许多事物，我的话语能让人感到真诚，我的文字也有感染力，这是这种性格特质带给我的优点，也是我比较享受的地方，波，其实我蛮喜欢写诗的，虽然比不上你们专业的语文老师，但是我觉得诗不是看用词也不是看句式，而是里面承载的作者的感情，可惜我好几次倾注感情的诗并没有得到波的赞美，可能在你面前这样的白话诗还是显得笨拙了，这一点我当然是些许不满的。但看看这篇小作文，哪有大男人写这种小作文的，一想到这里又怕被你看到，只怕是魅力全无，我自己都觉着尴尬。<br>最近半年，我总在波面前显得很幼稚，人情世故上也好、观念上也好，之前吵过几次以后，我也不敢说一些想法，我很害怕波对我审视的语气逼问我，就像今天这样逼问我对彩礼态度的事情，波，你太聪明了，太敏锐了，又是个完美主义者，但又容易被这些内耗，有些事情没有单纯的对错，都是有两面性的，就算是夫妻，有争斗很正常，一方想控制另一方，
   这是人性使然，没什么好说的，争斗是真，互相关心也是真，容不得一点瑕疵的话，真的不太现实。彩礼的事，我承认作为男方当然是潜意识希望能更轻松点的，但是也绝对是无条件满足波的意愿，一开始和预想不一样，有过不愉快，但转念一想又都不是事情，可能这么说波会很生气，很委屈，觉得现在又说得这么轻巧。我知道，波你要的是被坚定选择的感觉，波对不起，我没能义无反顾地奔向你，我才发现自己也是个完美主义者，对感情有着完美的要求，对心灵的契合太过看重，导致我其实一直有所顾虑，然而我自己的能力也不足，经营不了我想要的感情，如果能再来一次我可能会尽可能去将心比心。现在想想我太不负责任了，从年初开始，各种小事我就应该坚持自己的观点，哪怕有冲突也要面对，害怕冲突导致最后不得不面对这些。<br>男女的事情，波一直在回避，我知道波不是不重视，这种事情不是说行就行的，没感觉就是没感觉，就像我也一样，难以忍受也是真的难以忍受，这么提出来波一定压力很大吧，很痛苦吧。我也总在反思，到底是哪里错了，波，我还是没能走进你的内心，这是我最担忧的（还是原谅我这个情感上的完美主义者）。<br>写到这里我的心情似乎平和了许多，反倒没有刚才那涌上来的表达欲了，波，我真的不知道该怎么办，我向波道歉，我多希望波能迁就我一次，拯救一下我们的感情，当然，我也会努力的。<br></p>
    
    <script type="text/javascript" src="/static/photo_wall/img/data.js"></script>
    <script type="text/javascript" src="/static/photo_wall/gallery.js"></script>
    <script type="text/javascript">
        function viewFullScreen(imageUrl) {
            const overlay = document.getElementById('fullscreen-overlay');
            const fullscreenImg = document.getElementById('fullscreen-img');
            fullscreenImg.src = imageUrl;
            overlay.classList.add('active');
        }

        function closeFullScreen() {
            const overlay = document.getElementById('fullscreen-overlay');
            overlay.classList.remove('active');
        }
    </script>
</body>

</html>