{% extends "header.html" %}
{% block title %}{{ notice.title }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="padding">
        <h1>{{ notice.title }}</h1>
        <p class="mb-3">
            <span class="me-4">
                <i class="bi bi-person-fill"></i>
                <span class="text-decoration-none text-dark">
                    {{ notice.author.username if notice.author else 'admin' }}
                </span>
            </span>
            <span>
                <i class="bi bi-calendar-fill"></i>
                {{ notice.date_created.strftime('%Y-%m-%d %H:%M:%S') }}
            </span>
        </p>
        <div class="card">
            <div class="card-body font-content">
                <!-- 使用 |safe 过滤器来解析HTML内容 -->
                {{ notice.content | safe }}
            </div>
        </div>
    </div>
    <a href="{{ url_for('notice_page') }}" class="btn btn-secondary mt-3">
        <i class="bi bi-arrow-left"></i> 返回首页
    </a>
</div>
{% endblock %}