{% extends "header.html" %}
{% block title %}编辑推荐阅读{% endblock %}

{% block content %}
<div class="ui container" style="margin-top: 50px;">
    <h2 class="ui header">
        <i class="book icon"></i>
        <div class="content">
            编辑推荐阅读
        </div>
    </h2>
    <form action="{{ url_for('edit_recommended_reading', id=reading.id) }}" method="post" class="ui form">
        <div class="field">
            <label>标题</label>
            <input type="text" name="title" value="{{ reading.title }}" required>
        </div>
        <div class="field">
            <label>封面</label>
            <input type="url" name="image_url" value="{{ reading.image_url }}" required>
        </div>
        <div class="field">
            <label>链接</label>
            <input type="url" name="url" value="{{ reading.url }}" required>
        </div>
        <button type="submit" class="ui primary button">保存</button>
    </form>
</div>
{% endblock %}
