{% extends "header.html" %}
{% block title %}管理推荐阅读{% endblock %}

{% block content %}


<style>
    a {
        color: #007BFF;  /* 设置链接颜色 */
        font-size: 16px;  /* 设置字体大小 */
        text-decoration: none;  /* 去除下划线 */
    }
    /* 图片样式，适应表格并保持纵横比 */
    .table img {
        max-width: 100px;  /* 限制图片宽度 */
        max-height: 100px; /* 限制图片高度 */
        object-fit: contain; /* 保持纵横比，避免变形 */
    }
    /* 使表格中的内容垂直居中 */
    .ui.table td, .ui.table th {
        vertical-align: middle !important; /* 确保垂直居中 */
    }
</style>

<div class="ui container" style="margin-top: 50px;">
    <h2 class="ui header">
        <i class="book icon"></i>
        <div class="content">
            管理推荐阅读
        </div>
    </h2>
    <a href="{{ url_for('add_recommended_reading') }}" class="ui primary button">
        <i class="plus icon"></i> 添加推荐阅读
    </a>
    <div class="ui segment">
        <table class="ui celled table">
            <thead>
                <tr>
                    <th></th>
                    <th>标题</th>
                    <th>链接</th>
                    <th>添加时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for reading in readings %}
                <tr>
                    <td><img src="{{ reading.image_url }}"></td>
                    <td>{{ reading.title }}</td>
                    <td><a href="{{ reading.url }}" target="_blank">{{ reading.url }}</a></td>
                    <td>{{ reading.date_added.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    <td>
                        <div class="ui buttons">
                            <a href="{{ url_for('edit_recommended_reading', id=reading.id) }}" class="ui yellow button">
                                <i class="edit icon"></i> 编辑
                            </a>
                            <div class="or"></div>
                            <form action="{{ url_for('delete_recommended_reading', id=reading.id) }}" method="post" onsubmit="return confirm('确定删除这条推荐阅读吗？');">
                                <button type="submit" class="ui red button">
                                    <i class="trash icon"></i> 删除
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
